# Backend
backend/.env
backend/.env.local
backend/vendor/
backend/storage/logs/*.log
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/
backend/node_modules/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db

.vercel
